@import url('https://fonts.googleapis.com/css?family=Lato');

/* ------------------
     GLOBAL STYLES 
   ------------------ */

body{
    background-color: #333333;
    font-family: "Lato";
}

/* ------------------
       TYPOGRAPHY 
   ------------------ */

h1, h2, p, ul, ol{
    color: white;
}

h1{
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
    text-align: center;
}

/* ------------------
         LAYOUT 
   ------------------ */

.links{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.container{
    display: flex;
    justify-content: center;
}

a{
    padding: 8px;
    width: 100px;
}

/* ------------------
       COMPONENTS 
   ------------------ */

a{
    background-color: rgb(77, 184, 255);
    border-left: 2px solid rgb(51, 51, 51);
    border-right: 2px solid rgb(51, 51, 51);
}

a:hover{
    background-color: rgb(26, 163, 255);
}

a:focus{
    outline: none;
    box-shadow:-3px 0px 0px 0px rgb(77, 184, 255),
                3px 0px 0px 0px rgb(77, 184, 255);
}